.men .img{
    height:350px;
    width:270px !important;
    border-radius: 10px;
    object-fit:cover;
    border:2px solid rgb(215, 215, 233);
      padding:0px
}

.men .imgwrap{
    display: flex !important;
    flex-wrap: wrap !important;
}

.men .hr{
    border-width: 40px;
     color: red !important;
}

@media  screen and (max-width:972px) {
   .men .imgmeadia {
     margin:20px !important
    }
    }

 